GROQ_API_KEY=gsk_xxxxxxxxxxxx
GEMINI_API_KEY=AIzaxxxxxxxxxxxx
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"..."}

NUXT_PUBLIC_FIREBASE_API_KEY=xxxx
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxxx.firebaseapp.com
NUXT_PUBLIC_FIREBASE_PROJECT_ID=xxxx
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xxxx.appspot.com
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxxx
NUXT_PUBLIC_FIREBASE_APP_ID=xxxx

BPBP_PIN=xxxxxx
